[submodule "PLTI"]
	path = loader/src/external/plti
	url = https://github.com/eduardo3677-ai/PLTI
[submodule "CSOLoader"]
	path = loader/src/external/csoloader
	url = https://github.com/eduardo3677-ai/CSOLoader
